
.index-banner{
    position: relative;
    background: #eeeeee;
}

.index-banner .index-banner-bg{
    height: 570px;
    overflow: hidden;
}

.index-banner .index-banner-bg img{
    margin:0 auto;
}

.index-banner .index-banner-txt{
    position: absolute;
    top:210px;
    left:50%;
    margin-left: -388px;;
}

.index-banner-txt .text-logo{
    width: 776px;
    height: 117px;
    background: url("../images/index-banner-textlogo.png") no-repeat;
}

.index-banner-txt .text-info{
    margin-top: 17px;
    text-align: center;
    color: #ffffff;
}


.index-banner-txt .text-info .line{
    display: inline-block;
    width: 40px;
    height: 1px;
    border-top: 1px solid #ffffff;
    vertical-align: middle;
}

.index-banner-txt .text-info .text{
    margin:0 27px;
}

.index-menu{
    position: relative;
    border-top: 5px solid #f34949;
}

.index-menu .menu-tips{
    position: absolute;
    height: 71px;
    width:156px;
    top:0;
    left:50%;
    margin-left: -78px;
    background: #f34949;;
    line-height:60px;
    color: #ffffff;
    text-align: center;
}

.index-menu .menu-tips:after{
    position: absolute;
    content:"";
    left:0;
    bottom:0;
    width: 0;
    height: 0;
    border-left:78px solid transparent;
    border-right:78px solid transparent;
    border-bottom:10px solid #ffffff;
}

.index-menu .menu-list{
    margin-top:150px;
    color: #555555;
    overflow: hidden;
}

.index-menu .menu-list ul{
    width:1160px;
}

.index-menu .menu-item{
    float: left;
    width: 520px;
    margin-right: 60px;
    margin-bottom: 56px;
}

.index-menu .menu-item .title,.index-menu .menu-item .line{
    float: left;
}

.index-menu .menu-item .price{
    float: right;
}

.index-menu .menu-item .title{
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.index-menu .menu-item .comment{
    margin-top: 4px;
    color: #b7b7b7;
    font-size: 12px;
}

.index-menu .menu-item .line{
    width: 192px;
    margin-top: 10px;
    border-top: 1px solid #e3e1e1;
}

.index-menu .menu-more-btn{
    margin:0 auto;
    width: 114px;
    height: 32px;
    padding-left: 16px;
    border:1px solid #d7d5d5;
    font-size: 14px;
    line-height: 32px;
    color: #d7d5d7;
}

.index-menu .menu-more-btn .icon{
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 10px;
    background: url("../images/v-icon.png") no-repeat;
}

.index-panel{
    margin-top: 200px;
}

.index-panel-header .title{
    float: left;
    font-size: 20px;
    color: #3b3b3b;
    line-height: 15px;
}

.index-panel-header .line{
    float: left;
    margin-top: 7px;
    margin-left: 19px;
    width: 200px;
    border-top:1px solid #e5e3e3;
}

.index-panel-header .btn-group{
    float: right;
}

.index-panel-header .btn{
    float: left;
    margin-left: 11px;
    height: 9px;
    width: 9px;
    background: #dedede;
    border-radius:50%;
}
.index-panel-header .active{
    background: #9b9b9b;
}

.index-panel-body{
    margin-top: 79px;
}

.index-food-list{
    overflow: hidden;
}

.index-food-list ul{
    width: 1160px;
}

.index-food-list .food-item{
    float: left;
    width: 230px;
    margin-right: 60px;

}

.index-food-list .food-item .banner{
    width: 230px;
    height: 200px;
    margin-bottom: 30px;
}

.index-food-list .food-item .name{
    margin-bottom: 10px;
    color: #555555;
}

.index-food-list .food-item .price{
    float: right;
}

.index-food-list .food-item .star-bar{
    font-size: 0;
}

.index-food-list .food-item .star{
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-right: 5px;
    background: url("../images/star.png") no-repeat;

}
.index-food-list .food-item .nostar{
    background-position:0 -13px;
}

.index-pics{
    height: 380px;
    margin-bottom: 200px;
    overflow: hidden;
}

.index-pics .pic-col{
    float: left;
}

.index-pics .pic-col-m{
    width: 353px;
}

.index-pics .pic-col-s{
    width: 287px;
}

.index-pics .pic-col-l{
    width: 460px;
}
