.public-container{
    position: relative;
    margin:0 auto;
    width: 1100px;
    height:100px;
}

.public-header{
    height: 110px;
    background: #ffffff;
}

.public-header .header-logo{
    float: left;
    width: 182px;
    height: 54px;
    margin-top:40px;
    background: url(../images/index-header-logo.png) no-repeat;
}

.public-header .header-nav{
    float: right;
}

.public-header .header-nav .item{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.public-header .header-nav a{
    color: #505050;
}

.public-footer{
    height: 218px;
    padding-top:100px;
    background: #3b3b3b;
}

.public-footer .footer-col{
    float: left;
    width: 230px;
    margin-right:60px;
    color:#fff;
    font-size: 16px;
    line-height:1.8;

}

.public-footer .footer-col:last-child{
    margin-right:0;
}

.public-footer .footer-col:last-child{
    line-height: 1.6;
}

.public-footer .footer-logo{
    width: 182px;
    height: 55px;
    margin-top: -10px;
    background-image: url("../images/index-footer-logo.png");
}
